{
	"env": {
        "browser": true,
        "node": true,
		"es6": true,
		"commonjs": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"airbnb/base",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 9,
		"ecmaFeatures": {
		"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": ["react"],
	"rules": {
		"@typescript-eslint/indent": 0,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/explicit-member-accessibility": 0,
		"linebreak-style": 0,
		"no-tabs": 0,
		"import/no-unresolved": 0,
		"comma-dangle": [0],
		"no-console": [0],
		"arrow-parens": [0],
		"max-len": ["error", 130]
	}
}