.sign-in {
    width: 200px;
    margin-top: 20px;
    color: #000000;
}

.sign-in__groin {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    label {
        margin-bottom: 5px;
    }
}