{
  "presets": [
    "next/babel"
  ],

  "plugins": [
	["module-resolver", {
		"root": ["../"],
		"alias": {
			"store": "./store",
			"web": "./web",
			"components": "./web/components",
			"config": "./server.config.json",
			"helpers": "./helpers"
		}
    }]
  ]
}